# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/
ENV/
.venv*/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook metadata
*.nbconvert.ipynb

# Logs
*.log

# Python package builds
build/
dist/
*.egg-info/

# VSCode or IDE settings
.vscode/
.idea/